@import url('https://fonts.cdnfonts.com/css/euclid-circular-b');
*, html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Euclid Circular B', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-size: 1rem;
}

img{
    max-width: 100%;
    display: inline-block;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

header{
    height: 60px;
    /* background-color: blue; */
}

.user-status-container{
    background-color: rgb(249,250,251);
    height: 40%;
}

.user-status{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 90%;
    margin-inline: auto;
}

.user-language{
    display: flex;
    align-items: center;
}

.user-language p{
    font-weight: 600;
}

.user-position{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 14px;
}

.user-position span{
    color: rgb(116, 122, 130);
}

.user-position a{
    font-size: 14px;
    color: rgb(36, 158, 100);
    font-weight: 600;
}

nav{
    height: 100%;
    background-color: white;
    padding-block: 1rem;
}

nav .navbar-list{
    display: flex;
    align-items: center;
    /* gap: 1rem; */
    max-width: 90%;
    margin-inline: auto;
    height: 100%;
}

nav .navbar-list .navbar-list-item{
    display: flex;
    align-items: center;
}

nav .navbar-list .navbar-list-item a{
    padding: .8rem 12px;
}

nav .hover-link>a:hover, nav .navbar-list-item>.active-link{
    background-color: rgb(244, 244, 246);
    border-radius: 10px;
}

.navbar-list-link .material-symbols-outlined{
    color: rgb(169,171,185);
    transition: transform 150ms;
}

.caret-rotate{
    transform: rotate(180deg);
}

nav .navbar-list-link{
    display: flex;
    align-items: center;
}

.menu-icon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    /* padding: 12px; */
    background-color: #f4f4f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon .material-symbols-outlined{
    font-size: 2rem;
    color: grey;
}

nav .navbar-list .flex-hide, nav .navbar-list .hide, .hide, .flex-hide{
    display: none;
}

.dropdown-container{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    top: calc(100% + .75rem);
    left: 0;
    width: 400px;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-container.active>.navbar-list-link+ .dropdown-menu{
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.dropdown-menu .dropdown{
    padding: .5rem .5rem;
}

.dropdown-menu .dropdown li:hover{
    /* background-color: orange; */
    border-radius: .5rem;
    background-color: rgb(244, 244, 246);
}

.dropdown-menu .dropdown li a{
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
}

.dropdown-menu .dropdown li a .products{
    color: rgb(47, 49, 63);
    line-height: 24px;
    font-weight: 600;
    font-size: 1rem;
}

.dropdown-menu .dropdown li a .products-quality{
    color: rgb(116, 122, 130);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

}

main{
    height: 100vh;
    overflow-y: auto;
    width: 100%;
}

#hero-section{
    /* max-height: 70vh; */
    height: 65vh;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 100%;
    background-color: rgb(46,184,117);
}

.first-hero-section{
    height: 70%;
    width: 100%;
}

.first-hero-container{
    font-size: 1rem;
    padding-block: 1.25em;
    height: 100%;
    width: 90%;
    margin-inline: auto;
    color: white;
}

.first-hero-container h1{
    font-size: 3rem;
    min-width: 80%;
    /* max-width: 100%; */
    line-height: 56px;
    margin-bottom: 1em;
}

.first-hero-container .download-bolt-text{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.first-hero-container .download-link-container{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* background-color: blue; */
    width: 60%;
    margin-bottom: 2rem;
}

.first-hero-container>a{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    letter-spacing: .1em;
    font-size: .9rem;
}

.second-hero-section{
    background-image: url(img/second-hero-section-background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 30%;
}

#driver-signup-section{
    width: 100%;
    height: 20vh;
    background-color: #6675ff;
    color: white;
    text-align: center;
    padding: 1rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.driver-signup-container{
    width: 90%;
    max-width: 400px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    /* background-color: red; */
}

.driver-signup-container>div{
    width: 100%;
}

#driver-signup-section h3{
    font-size: 1.5rem;
    line-height: 1.33em;
    font-weight: 600;
}

#driver-signup-section p{
    font-size: 1rem;
    line-height: 1.5em;
}

#driver-signup-section a{
    display: inline-block;
    color: black;
    background-color: white;
    border-radius: 2rem;
    width: 70%;
    font-size: 0.875rem;
    padding: 0.857em 1.714em;
    font-weight: 500;
}

/* For chrome dev tools 375px phones */
@media screen and (min-width: 375px) and (min-height: 1126px){
    #hero-section{
        height: 60vh;
    }

    .first-hero-container{
        padding-top: 1.25em;
        padding-bottom: 0em;
    }

    #driver-signup-section{
        height: 15vh;
    }
    .first-hero-container .download-link-container{
        flex-direction: row;
        width: 100%;
    }
}
/* for iPhone SE */
@media screen and (min-width: 360px) and (max-height: 844px){
    #hero-section{
        height: 90vh;
    }

    .first-hero-container .download-link-container{
        flex-direction: row;
        width: 100%;
    }

    #driver-signup-section{
        height: 25vh;
    }
}

/* For iPhone XR */
@media screen and (min-width: 414px) and (max-height: 896px){
    #hero-section{
        height: 70vh;
    }

    .first-hero-container .download-link-container{
        flex-direction: row;
        width: 100%;
    }
}

@media screen and (min-width: 768px){
    #hero-section{
        height: 80vh;
        /* max-height: 110vh; */
    }

    .first-hero-container{
        padding-block: 0em;
        padding-top: 8em;
        padding-bottom: 1em;
    }

    .first-hero-section{
        height: 55%;
    }

    .second-hero-section{
        height: 45%;
    }

    .first-hero-container .download-bolt-text{
        justify-content: unset;
        margin-bottom: 1rem;
    }

    .first-hero-container .download-link-container{
        justify-content: unset;
    }

    .first-hero-container>a{
        justify-content: unset;
        margin-top: 4em;
    }

    #driver-signup-section{
        text-align: left;
    }

    #driver-signup-section a{
        text-align: center;
    }

    .driver-signup-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 700px;
    }

}

@media screen and (min-width: 1024px) {
    header{
        height: 112px;
    }
    nav{
        height: 60%;
    }
    nav .navbar-list .show{
        display: none;
    }

    nav .navbar-list .flex-hide{
        display: flex;
    }

    header .hide{
        display: block;
    }

    nav ul{
        gap: 1.8rem;
    }

    nav li{
        height: 100%;
    }

    #hero-section{
        /* height: 70vh; */
        flex-direction: row;
    }

    .first-hero-section, .second-hero-section{
        height: 100%;
    }

    .first-hero-container{
        width: 90%;
    }

    .first-hero-container h1{
        font-size: 4.5em;
        line-height: 72px;
    }
}

@media screen and (min-width: 1300px){
    #hero-section{
        height: 115vh;
    }

    .first-hero-container{
        padding-block: 10em;
        width: 500px;
    }

    .first-hero-container h1{
        width: 100%;
        font-weight: 500;
    }
}