@import url('https://fonts.cdnfonts.com/css/euclid-circular-b');
*, html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Euclid Circular B', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-size: 1rem;
}

h1, h2, h3, h4{
    font-weight: 600;
    color: #243134;
}

img{
    max-width: 100%;
    display: inline-block;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

header{
    height: 60px;
    /* background-color: blue; */
    position: sticky;
    z-index: 50;
}

.user-status-container{
    background-color: rgb(249,250,251);
    height: 40%;
}

.user-status{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 90%;
    margin-inline: auto;
}

.user-language{
    display: flex;
    align-items: center;
}

.user-language p{
    font-weight: 600;
}

.user-position{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 14px;
}

.user-position span{
    color: rgb(116, 122, 130);
}

.user-position a{
    font-size: 14px;
    color: rgb(36, 158, 100);
    font-weight: 600;
}

nav{
    height: 100%;
    background-color: white;
    padding-block: 1rem;
}

nav .navbar-list{
    display: flex;
    align-items: center;
    /* gap: 1rem; */
    max-width: 90%;
    margin-inline: auto;
    height: 100%;
}

nav .navbar-list .navbar-list-item{
    display: flex;
    align-items: center;
}

nav .navbar-list .navbar-list-item a{
    padding: .8rem 12px;
}

nav .hover-link>a:hover, nav .navbar-list-item>.active-link{
    background-color: rgb(244, 244, 246);
    border-radius: 10px;
}

.navbar-list-link > .expand-more{
    color: rgb(169,171,185);
    transform: rotate(0deg);
    transition: transform 500ms;
}

.navbar-list-link.active > .expand-more{
    transform: rotate(180deg);
}

nav .navbar-list-link{
    display: flex;
    align-items: center;
}

.menu-icon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    /* padding: 12px; */
    background-color: #f4f4f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon .material-symbols-outlined{
    font-size: 2rem;
    color: grey;
}

nav .navbar-list .flex-hide, nav .navbar-list .hide, .hide, .flex-hide{
    display: none;
}

.dropdown-container{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    top: calc(100% + .75rem);
    left: 0;
    width: 400px;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 300ms ease-in-out 10ms, transform 400ms ease-in 10ms;
    /* display: none; */
    z-index: 50;
}

.dropdown-container.active .dropdown-menu{
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    /* display: block; */
}

.dropdown-menu .dropdown{
    padding: .5rem .5rem;
}

.dropdown-menu .dropdown li:hover{
    /* background-color: orange; */
    border-radius: .5rem;
    background-color: rgb(244, 244, 246);
}

.dropdown-menu .dropdown li a{
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
}

.dropdown-menu .dropdown li a .products{
    color: rgb(47, 49, 63);
    line-height: 24px;
    font-weight: 600;
    font-size: 1rem;
}

.dropdown-menu .dropdown li a .products-quality{
    color: rgb(116, 122, 130);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

}

.overlay{
    /* visibility: hidden; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    z-index: 40;
    transition: all 200ms;
}

.overlay.active{
    visibility: visible;
    /* opacity: .5; */
}

#hero-section{
    /* max-height: 70vh; */
    height: 60vh;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 100%;
    flex-grow: 1;
}

.first-hero-section{
    height: 70%;
    width: 100%;
    background-color: rgb(46,184,117);
}

.first-hero-container{
    font-size: 1rem;
    padding-block: 1.25em;
    height: 100%;
    width: 90%;
    margin-inline: auto;
    color: white;
}

.first-hero-container h1{
    font-size: 3rem;
    min-width: 80%;
    /* max-width: 100%; */
    line-height: 56px;
    margin-bottom: 1em;
    color: white;
}

.first-hero-container .download-bolt-text{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.first-hero-container .download-link-container{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-bottom: 2rem;
}

.first-hero-container>a{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    letter-spacing: .1em;
    font-size: .9rem;
}

.second-hero-section{
    background-image: url(img/second-hero-section-background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30%;
    width: 100%;
}

#driver-signup-section{
    width: 100%;
    height: 25vh;
    background-color: #6675ff;
    color: white;
    text-align: center;
    padding: 1rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.driver-signup-container{
    width: 95%;
    max-width: 400px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    /* background-color: red; */
}

.driver-signup-container>div{
    width: 100%;
}

#driver-signup-section h3{
    font-size: 1.5rem;
    line-height: 1.33em;
    font-weight: 600;
    color: white;
}

#driver-signup-section p{
    font-size: 1rem;
    line-height: 1.5em;
    /* white-space: nowrap; */
}

#driver-signup-section a{
    display: inline-block;
    color: black;
    background-color: white;
    border-radius: 2rem;
    width: 70%;
    font-size: 0.875rem;
    padding: 0.857em 1.714em;
    font-weight: 500;
}

#product-benefits-section{
    height: 45vh;
    width: 100%;
    padding-block: 3rem;
}

.product-benefits-container, .benefits-container{
    width: 87%;
    height: 100%;
    max-width: 1250px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    /* background-color: red; */
}

.product-benefits-container img{
    height: 80px;
    width: 80px;
}

.product-benefits-container>div{
    display: grid;
    gap: .3rem;
    grid-auto-flow: column;
    grid-auto-columns: .5fr 1fr;
}

.product-benefits-container>div h4{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.33em;
    white-space: normal;
}

.product-benefits-container>div p{
    color: #818391;
    font-size: 1rem;
    line-height: 1.5em;
    margin-top: .5rem;
    white-space: normal;
}

.process-section{
    overflow: hidden;
    padding-block: 1rem;
}

.phone-img-wrapper{
    position: relative;
}

.phone-img-container{
    background-image: url(/img/index-phone-mobile.webp); 
    background-position: 50%; 
    background-repeat: no-repeat; 
    background-size: contain; 
    height: 126vw; 
    max-height: 749px; 
    width: 100%; 
    position: relative; 
    z-index: 2;
}

.bg-circle-top{
    background-color: #d9fde5; 
    height: 150px; 
    position: absolute; 
    top: 100px; 
    right: -95px; 
    z-index: -1; 
    width: 150px; 
    border-radius: 50%;
}

.bg-circle-bottom{
    background-color: #d9fde5; 
    height: 530px; 
    position: absolute; 
    z-index: -1; 
    left: -180px; 
    top: 176px; 
    width: 530px; 
    border-radius: 50%;
}

.process-content{
    width: 90%; 
    margin-inline: auto;
}

.process-content h2{
    font-size: 2.125rem;
    line-height: 1.176em;
    font-weight: 600;
}

.process-content p{
    color: #818391;
    margin-top: 1rem;
    line-height: 1.5em;
}

.benefits-container{
    padding-block: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.benefits-container>div{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.benefits-container .svg-container{
    display: block;
    width: 48px;
    height: 48px;
    background-color: #d9fde5;
    padding: .75rem;
    border-radius: 50%;
}

.benefits-container svg{
    color: #32bb78;
}

.benefits-container>div h4{
    font-size: 1.5rem;
    line-height: 1.33em;
    font-weight: 600;
}

.benefits-container>div p{
    color: #818391;
    margin-top: .5rem;
}

.benefits-container a{
    color: #249e64;
}

.benefits-container a span{
    font-size: .8125rem;
    color: #249e64;
}

.cta-section{
    background-color: #2eb875;
    color: white;
}

.cta-section-container{
    width: 90%;
    height: 100%;
    margin-inline: auto;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cta-section-container h2{
    text-align: center;
    color: white;
    font-size: 2.125rem;
}

.cta-section-container .download-link-container{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.cta-section-container p{
    text-align: center;
    color: white;
}

.cta-section-container a{
    color: white;
    text-decoration: underline;
}

.footer-container{
    width: 87%;
    height: 100%;
    max-width: 950px;
    margin-inline: auto;
    padding-block: 2rem;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-bottom: 1px solid rgb(233,234,238);
    padding-bottom: 1.5rem;
}

.footer-container .logo-container{
    margin-bottom: 1.5rem;
}

.footer-link-btn{
    width: fit-content;
    display: inline;
    background-color: rgb(244,244,246);
    border-radius: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    text-align: center;
    padding: .8em;
    margin-top: 1rem;
}

.language-btn{
    padding-block: .8rem;
    display: flex;
    align-items: center;
}

.footer-list-heading .list-heading{
    font-size: 1.25rem;
    line-height: 1.5em;
    font-weight: 600;
    margin-top: 2rem;
}

.footer-list-item .footer-list-link{
    color: #243134;
    font-weight: 400;
    margin-top: 1rem;
    display: inline-block;
}

.footer-list-item .footer-list-link:hover{
    color: #27b973;
}

.app-download-link .download-link-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.app-download-link .play-store-link{
    width: 170px;
    height: 60px;
    margin-left: -10px;
}

.margin-top{
    margin-top: 3rem;
}
.app-download-link>p, .app-download-link .list-heading{
    color: #818391;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 1em;
}

.footer-main-links{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links{
    display: none;
    margin-top: 1rem;
}

.nav-links>a{
    padding: .5rem 1rem;
    border-radius: 100px;
}

.social-links{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;
    /* background-color: red; */
}

.social-links>a{
    background-color: rgb(244,244,246);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* display: inline-block; */
    width: 36px;
    height: 36px;
}

.social-links i{
    font-size: 1.25rem;
}

.tiktok-link{
    justify-self: flex-start;
}

.copyright-section{
    width: 80%;
    margin-inline: auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: #818391;
}

.legal-info{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.legal-info>a{
    color: #818391;
}
/* For chrome dev tools 375px phones */
@media screen and (min-width: 375px) and (min-height: 1126px){
    #hero-section{
        height: 60vh;
    }

    .first-hero-container{
        padding-top: 1.25em;
        padding-bottom: 0em;
    }

    #driver-signup-section{
        height: 15vh;
    }

    .first-hero-container .download-link-container, .cta-section-container .download-link-container{
        flex-direction: row;
        width: 100%;
    }

    .app-download-link .download-link-container{
        flex-wrap: nowrap;
        gap: 1rem;
    }

    .social-links{
        /* width: 60%; */
        margin-inline: auto;
        display: flex;
        flex-wrap: nowrap;
        gap: .7rem;
        /* background-color: transparent; */
        justify-content: center;
    }   
}
/* for iPhone SE */
@media screen and (min-width: 360px) and (max-height: 844px){
    #hero-section{
        height: 95vh;
    }

    .first-hero-container .download-link-container{
        flex-direction: row;
        width: 100%;
    }

    #driver-signup-section{
        height: 30vh;
    }

    #product-benefits-section{
        height: 60vh;
        width: 100%;
        padding-block: 3rem;
    }
    

    .product-benefits-container{
        gap: 1rem;
        /* background-color: red; */
    }

}

/* For iPhone XR */
@media screen and (min-width: 414px) and (max-height: 896px){
    #hero-section{
        height: 70vh;
    }

    .first-hero-container .download-link-container{
        flex-direction: row;
        width: 100%;
    }
}

@media screen and (min-width: 450px) {
    .phone-img-container{
        background-image: url(/img/index-phone.webp); 
        background-position: 50%; 
        background-repeat: no-repeat; 
        background-size: contain; 
        height: 126vw; 
        max-height: 749px; 
        width: 100%; 
        position: relative; 
        z-index: 0;
    }
}

@media screen and (min-width: 600px) {

    .first-hero-section{
        height: 55%;
    }

    .second-hero-section{
        height: 50%;
    }

    .product-benefits-container>div{
        /* display: flex;
        align-items: center; */
        display: grid;
        gap: .3rem;
        grid-auto-flow: column;
        grid-auto-columns: .3fr 1fr;
    }

}

/* Tablet view */
@media screen and (min-width: 650px){
    #hero-section{
        height: 100vh;
        /* max-height: 110vh; */
    }

    .first-hero-container{
        padding-block: 0em;
        padding-top: 8em;
        padding-bottom: 1em;
    }

    .first-hero-section{
        height: 55%;
    }

    .second-hero-section{
        height: 45%;
    }

    .first-hero-container .download-bolt-text{
        justify-content: unset;
        margin-bottom: 1rem;
    }

    .first-hero-container>a{
        justify-content: unset;
        margin-top: 4em;
    }

    #driver-signup-section{
        text-align: left;
    }

    #driver-signup-section a{
        text-align: center;
    }

    .driver-signup-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 700px;
    }
    
    .first-hero-container .download-link-container{
        flex-direction: row;
        justify-content: unset;
        width: 100%;
    }

    #product-benefits-section{
        padding-block: 3rem;
        height: unset;
    }

    .product-benefits-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .product-benefits-container>div{
        display: flex;
        flex-direction: column;
        align-items: unset;
        /* justify-content: baseline; */
    }

    .ride-benefit img{
        width: 162px;
        height: 162px;
    }

    .price-benefit img, .accessibility-benefit img{
        width: 140px;
        height: 140px;
        margin-bottom: 1.2rem;
    }

    .price-benefit, .accessibility-benefit{
        padding-inline-end: 2rem;
    }

    .benefits-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 152px;
        margin-bottom: 10rem;
    }
    
    .benefits-container>div{
        display: flex;
        flex-direction: column;
        align-items: unset;
        gap: 1rem;
    }

    .benefits-container>div p{
        color: #818391;
        margin-top: .8rem;
    }
    
    .cta-section-container{
        padding-block: 5rem;
        gap: 1.3rem;
    }

    .cta-section-container h2{
        font-size: 3rem;
    }

    .cta-section-container p{
        margin-top: 2em;
    }

    .footer-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .app-download-link{
        display: none;
    }

    .footer-main-links{
        border-bottom: 1px solid rgb(233,234,238);
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    .nav-links{
        display: flex;
        /* justify-content: center; */
        gap: 1rem;
    }

    .footer-grid{
        border-bottom: none;
    }

    .copyright-section{
        margin-bottom: 2rem;
    }

}

/* For when the window is shifted for inspection */
@media screen and (min-width: 850px){
    #hero-section{
        height: 110vh;
    }

    .first-hero-section{
        height: 70%;
    }

}

@media screen and (min-width: 960px) {
    header{
        height: 112px;
    }

    .user-status{
        width: 98%;
        max-width: 1200px;
    }
    nav{
        height: 60%;
    }

    nav .navbar-list{
        width: 98%;
        max-width: 1200px;
    }
    nav .navbar-list .show{
        display: none;
    }

    nav .navbar-list .flex-hide{
        display: flex;
    }

    header .hide{
        display: block;
    }

    nav li{
        height: 100%;
    }

    #hero-section{
        /* height: 70vh; */
        flex-direction: row;
        height: 70vh;
    }

    .first-hero-section, .second-hero-section{
        height: 100%;
    }

    .first-hero-container{
        width: 90%;
    }

    .first-hero-container h1{
        font-size: 4.5em;
        line-height: 72px;
    }

    .product-benefits-container>div h4{
        font-size: 2.125rem;
    }

    .bg-circle-bottom, .bg-circle-top{
        display: none;
    }

    .process-section{
        overflow: visible;
        padding-block: 0;
        background-color: #d9fde5;
    }

    .phone-img-container{
        height: 749px;
        max-width: 55%;
        position: absolute;
        right: 20px;
        top: -235px;
        width: 769px;
    }

    .process-content{
        margin-top: 236px;
        padding-bottom: 175px;
        padding-top: 140px;
        position: relative;
    }

    .process-content h2{
        font-size: 3rem;
        white-space: normal;
        width: 50%;
    }

    .process-content p{
        font-size: 1.125rem;
        width: 50%;
    }
    
    .benefits-container>div p{
        font-size: 1.125rem;
    }

    .footer-grid{
        grid-template-columns: repeat(4, 1fr);
    }
    
    .footer-list-container .logo-container img{
        height: 70px;
        margin-top: 2rem;
    }

    .footer-main-links{
        /* display: flex; */
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-inline: 0;
        /* background-color: red; */
        padding: 1rem;
    }

    .nav-links{
        order: 2;
        align-items: center;
        margin-top: 0;
    }

    .nav-links>a{
        margin-top: 0;
    }

    .social-links{
        width: unset;
        flex-wrap: nowrap;
        gap: .7rem;
        /* background-color: green; */
        justify-content: center;
        order: 1;
        margin-top: 0;
        margin-inline: unset;
    } 

    .copyright-section{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}

@media screen and (min-width: 1280px){
    #hero-section{
        height: 115vh;
    }

    .first-hero-container{
        padding-block: 10em;
        width: 500px;
    }

    .first-hero-container h1{
        width: 100%;
        font-weight: 600;
    }

    #product-benefits-section{
        height: unset;
    }

    .price-benefit{
        padding-inline-end: 5rem;
    }

    .first-hero-container .download-link-container, .cta-section-container .download-link-container{
        flex-direction: row;
        width: 100%;
    }

    .footer-container{
        max-width: 1200px;
    }
}